{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 80,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "tabWidth": 2,
  "endOfLine": "auto"
}
