// $colorsScheme: (
//     primary: #007bff,
//     secondary: #6c757d,
//     success: #28a745,
//     danger: #dc3545,
//     warning: #ffc107,
//     info: #00bcd4,
//     black: #000000
// )

// .black-color {
//     color: ;
// }

.black-color {
    color: black;
}

.red-color {
    color: rgba(255, 0, 0, 0.614);
}

.blue-color {
    color: rgba(0, 0, 255, 0.436);
}

button {
    background: none;
}