// $colorsScheme: (
//     primary: #007bff,
//     secondary: #6c757d,
//     success: #28a745,
//     danger: #dc3545,
//     warning: #ffc107,
//     info: #00bcd4,
//     black: #000000
// )

// .black-color {
//     color: ;
// }
.chessboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 125px); /* 8 colonne con celle di 70px */
  grid-template-rows: repeat(8, 125px); /* 8 righe con celle di 70px */
  gap: 5px; /* Spaziatura tra le celle */
}

.cell {
  width: 130px; //75px
  height: 130px;
}

.black-color {
  background-color: black;
}

.red-color {
  background-color: rgba(255, 0, 0, 0.614);
}

.blue-color {
  background-color: rgba(0, 0, 255, 0.436);
}

button {
  //padding: 43px 89px;
  border: 1px solid;
  background: none;
}
