<h2>CHESSBOARD GAME!</h2>
<div class="py-5">
  <ul class="row">
    <li class="row col-md-6">
      <img
        style="width: 80%; height: 80%"
        class="col-md-6"
        id="id-red"
        src="{{ colorsAvailable['image1'] }}"
        alt=""
      />
      <button
        (click)="choosePlayerColor(player.red)"
        class="btn btn-lg btn-danger"
      >
        {{ colorsAvailable['color1'] }}
      </button>
    </li>

    <li class="row col-md-6">
      <img
        id="id-blue"
        style="width: 80%; height: 80%"
        class="col-md-6"
        src="{{ colorsAvailable['image2'] }}"
        alt=""
      />
      <button
        class="btn btn-lg btn-info"
        (click)="choosePlayerColor(player.blue)"
      >
        {{ colorsAvailable['color2'] }}
      </button>
    </li>
  </ul>
</div>
