<h2 style="text-align: center">
  Giocatore, prima di giocare, occorre che selezioni il tuo colore.
</h2>
<p>Opzioni disponibili:</p>
<ul style="text-align: center">
  <li class="row">
    <img class="col-md-1" (click)="choosePlayerColor(pC.red)" src="{{ colorsAvailable['image1'] }}" alt="" />

    <span class="col-md-1">{{ colorsAvailable['color1'] }}</span>
  </li>

  <li class="row">
    <img class="col-md-1" (click)="choosePlayerColor(pC.blue)" src="{{ colorsAvailable['image2'] }}" alt="" />

    <span class="col-md-1">{{ colorsAvailable['color2'] }}</span>
  </li>
</ul>
