button {
  background: none;
  border: none;
}

#confirm-button {
  position: relative;
  left: 38rem;
  top: 2rem;
  border: 1px solid black !important;
}

.width-up-button {
  width: 60rem;
  max-width: 70rem;
}

h2,
ul {
  text-align: center;
}

span {
  text-align: end;
}

img {
  transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
}

img:focus {
  transform: scale(1000000); /* Increase the image size by 1.5 times on focus */
}
